:root {
  --darkgrey: #303134; /* Dark Grey */
  --darkergrey: #202124; /* Dark Background */
  --lightgrey: #e8eaed; /* Light Grey */
  --gblue: #4285f4;
  --lightblue: #6b9dee;
  --blue: #1434e7ea;
  --gred: #db4437;
  --red: #fc5959;
  --gyellow: #f4b400;
  --lightYellow: #f8df96;
  --ggreen: #1fe284;
  --green: #0f9d58;
}

body {
  font-family: Arial, sans-serif;
  font-size: x-large;
  color: var(--lightgrey);
  background-color: var(--darkergrey);
  box-sizing: border-box;
  direction: rtl; /* Right-to-left content */
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background-color: var(--darkgrey);
  border-radius: 20px;
  box-sizing: border-box;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box; /* Include padding and border in the width */
}

td {
  padding: 2px;
  width: auto; /* Adjust width to fit content */
  box-sizing: border-box; /* Include padding and border in the width */
  border: none solid var(--lightgrey); /* Adjust border style */
}

select {
  font-size: large;
  padding: 0.5rem;
  border: 2px solid var(--gblue);
  border-radius: 8px;
  margin: 5px;
}

input {
  max-width: 90%;
  font-size: large;
  padding: 0.5rem;
  margin-top: 1.5rem;
  border: 1px solid var(--lightgrey);
  border-bottom: 2px solid var(--gblue);
  border-radius: 8px;
  box-sizing: border-box;
  text-align: right;
}

input:disabled {
  background-color: var(--darkgrey);
  color: var(--darkgrey);
}

.multiselect {
  max-width: 40%;
  font-size: x-large;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid var(--lines);
  border-radius: 8px;
  box-sizing: border-box;
}

select,
.mainButtons,
input {
  color: var(--lightgrey);
  background-color: var(--darkergrey);
}

.semiMainButtons,
.mainButtons {
  min-width: 100%;
  max-width: 100%;
  text-align: center;
  background-color: var(--gblue);
  color: var(--lightYellow);
  font-weight: bold;
  font-size: x-large;
  padding: 1rem;
}

.semiMainButtons {
  min-width: 60%;
  max-width: 60%;
  padding: 0.3rem;
}

@keyframes blink {
  0% {
    color: var(--blue);
  }
  50% {
    color: var(--lightgrey);
  }
  100% {
    color: var(--blue);
  }
}

@keyframes blinkBak {
  0% {
    background-color: var(--blue);
  }
  50% {
    background-color: var(--lightgrey);
  }
  100% {
    background-color: var(--blue);
  }
}

.sign {
  animation: blink 3s infinite;
  color: var(--blue);
  font-size: xx-large;
  font-weight: bold;
  margin-top: 1.5rem;
}

hr {
  border: 2px solid var(--gred);
}

th {
  text-align: right;
  direction: ltr; /* Right-to-left content */
}
.targil {
  direction: ltr; /* Right-to-left content */
  color: var(--lightYellow);
  font-size: xx-large;
}
thead {
  font-size: large;
  color: var(--lightYellow);
}

.correct {
  color: var(--green);
}

.wrong {
  color: var(--red);
}

.filter_arrow {
  font-size: 1.5rem;
  animation: blinkBak 3s infinite;
}
